@media screen and (max-width: 320px){
    #buttonMargin{
        margin-bottom: 10px;
    }
}

#textArea{
    resize: none;
}

.textArrange{

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5; 
}

@media screen and (min-width: 1400px) {

    .titleArrangement{

        font-size: 32px !important;
    }
}
